.App {
  text-align: center;
}

.custom-input {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #5d6264;
  color: whitesmoke;
}

.horizontal-line {
  width: 75%;
  height: 1px;
  background: #5d6264;
  margin: auto;
}

.vertical-line {
  height: 60px;
  width: 1px;
  background: #5d6264;
}